# Endereço do servidor MySQL.
DB_HOST = localhost
# Porta padrão do MySQL.
DB_PORT = 3306
# Usuário utilizado para acessar o banco.
DB_USER = root
# Senha do MySQL.
DB_PASSWORD= 
# Nome do banco de dados criado no Workbench.
DB_NAME= achados_perdidos